<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head')  %>
    <title>Add New Blog</title>
</head>
<body>
    
    <%- include('./partials/nav')  %> 

    <div class="container-fluid mt-3 w-75">
        <h1 class="h1 text-center text-secondary">Add New Blog</h1>
        <form action="/blog" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label  class="form-label">Cover Image</label>
                <div class="input-group">
                    <input name="coverImage" type="file"  class="form-control">
                    <!-- <button type="submit" class="btn btn-secondary">Upload</button> -->
                </div>
            </div>

          <div class="mb-3">
            <label for="blog-title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="blog-title" >
          </div>
    
          <div class="mb-3">
              <label for="body" class="form-label">Content</label>
              <textarea class="form-control" name="body" id="body" rows="5"></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>


    <%- include('./partials/scripts')  %>

</body>
</html>